<% var title = 'トップページのタイトルタグ'; %>
<% var description = 'トップページのディスクリプション'; %>
<% var path = '.'; %>
<% include common/_header %>

<!-- content -->
<div id="content">
  <div class="inner">

    <p>トップページに出力すること</p>

  </div><!-- /inner -->
</div><!-- /content -->

<% include common/_footer %>
